.App {
  font-family: Helvetica;
  margin: 0 8px 0;
}

.oldieButGoodie {
  clear: both;
  margin: 16px 16px 5px;
}

.dl {
  margin-left: 10px;
}

.left {
  float: left;
  width: 180px;
  margin-right: 10px;
}

.right {
  float: left;
  width: 440px;
  margin-left: 16px;
  box-sizing: border-box
}

.header-date {
  text-align: right;
  font-weight: bold;
  font-family: Helvetica;
  text-transform: uppercase;
  margin: 16px 0;
  font-size: 13px;
}

.topLinks {
  margin-top: 10px;
}

.topLinks a img {
  transform: scale(0.9);
}

.topLinks a {
  margin-right: 5px
}

.topLinks a:last-child {
  margin: 0;
}

.explain{
  padding: 5px 10px;
  background-color: lightgray;
}

a {
  color: rgb(153, 0, 51);
}